
body {
    background-color: #D5E0E7;
}
header {
    
    width: 100%;
    background-color: lightgray;
    /* float: left;*/
}

.img-logo img{
    margin:40px 0 0 41px;
    width:120px;
    height:48px;
}
img{
    width:100%;
    border-radius: 32px;
}




main{
    

}
.botones {
    /* width: calc(100% - 80px);*/
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    position: center;
    width: 688px;
    height: 67px;
    left: 40px;
    top: 894px;
}
.boton-encriptador {
    /* Button */
    /* Auto layout */
    justify-content: center;
    color:white;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    width: 328px;
    height: 67px;
    /* Dark blue/dark-blue-300 */

    background: #0A3871;
    border-radius: 24px;
    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}
.boton-desencriptador {
    /* Button */


    box-sizing: border-box;
    /* Auto layout */
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    width: 328px;
    height: 67px;
    /* Light gray */

    background: #D8DFE8;
    /* Dark blue/dark-blue-300 */

    border: 1px solid #0A3871;
    border-radius: 24px;
    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.boton-Copiar {
    /* Button */
    box-sizing: border-box;
    /* Auto layout */
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    /*position: absolute;*/
    width: 336px;
    height: 67px;
    left: 1032px;
    top: 885px;
    /* Dark blue/dark-blue-300 */

    border: 1px solid #0A3871;
    border-radius: 24px;
}
.cuadro-resultado {
    margin: 0 100px 0 0;
    text-align: center;
    font-style: normal;
    font-size: 40px;
    width: 400px;
    height: 100%;
    background-color: white;
    float: right;
    border-radius: 32px;
}
.cuadro-resultado li {
        width:280px;
        height:30%;
        margin: 200px 0 0 20px;
        padding: 40px 40px 40px 40px;
        background: white;
        border: 2px solid white;
 }




.cuadro-resultado {
    transition: opacity 0.5s ease, transform 0.5s ease;
    height: 30%;
}

 .cuadro-resultado:hover {
            opacity: 0.5;
            
  }
label{

    margin:0 auto;
}

main {
}

.area-texto {
    margin: 5% 1%;
    width: 300px;
    height:250px;
    background: #e5e5e5;
    font-size:15px
}
.texto {
    margin: 5px 0 0 5px;
}

footer{


}