
body {
    
    background-color:#e5e5e5;
    
}
header {
    
    width: 60%;
    background-color: lightgray;
    /* float: left;*/
}

.img-logo img{
    margin:40px 0 0 41px;
    width:120px;
    height:48px;
}
img{
    width:100%;
    border-radius: 32px;
}




main{
    

}
.botones {
    
    width: calc(100% - 80px);
}
.boton-encriptador {
    background-image: url('imagenes/Frame3-1.png');
    background-size: cover; /* Ajusta el tamaño de la imagen al botón  margin: 60px;*/
    width: 345px; /* Ajusta el ancho del botón según tus necesidades */
    height: 69px;
    border: none; /* Elimina el borde del botón */
    outline: none; /* Elimina el contorno al hacer clic en el botón */
    cursor: pointer;
}
.boton-desencriptador {
    background-image: url('imagenes/Frame3-2.png');
    background-size: cover; /* Ajusta el tamaño de la imagen al botón */
    width: 351px; /* Ajusta el ancho del botón según tus necesidades */
    height: 69px;
    border: none; /* Elimina el borde del botón */
    outline: none; /* Elimina el contorno al hacer clic en el botón */
    cursor: pointer;
}
.cuadro-resultado {
    margin: -80px 100px 0 100px;
    text-align: center;
    font-style: normal;
    font-size: 40px;
    width: 400px;
    height: 100%;
    background-color: white;
    float: right;
    border-radius: 32px;
}
.cuadro-resultado li {
        width:280px;
        height:30%;
        margin: 200px 0 0 20px;
        padding: 40px 40px 40px 40px;
        background: white;
        border: 2px solid white;
 }



.cuadro-resultado {
        transition: opacity 0.5s ease, transform 0.5s ease;
    }

 .cuadro-resultado:hover {
            opacity: 0.5;
            
  }
label{

    margin:0 auto;
}

main {
}

.area-texto {
    margin: 5% 0 0 5%;
    width: 600px;
    height: 280px;
    background: #e5e5e5;
}
.texto {
    margin: 5px 0 0 5px;
}

footer{


}